<%- include('./partials/header'); %>
<div class="container mt-5">
  <h1 class="mb-4">Mensagem do Dia</h1>
  <form method="POST" action="/mensagem">
    <button type="submit" class="btn btn-primary">Obter Citação</button>
  </form>
</div>
<%- include('./partials/footer'); %>
