<%- include('./partials/header'); %>
<div class="container mt-5">
  <h2 class="mb-4">Mensagem do Dia</h2>
  <blockquote class="blockquote">
    <p class="mb-0"><%= msg %></p>
  </blockquote>
  <a href="/" class="btn btn-secondary mt-4">Nova Mensagem</a>
</div>
<%- include('./partials/footer'); %>
